
.container{
	width:1170px;
	margin:0 auto;
}
.d-block{
	display:inline-block;
}
.box{
	width:570px;
	background:#f2f2f2;
	padding:10px;
	font-family: 'Roboto Slab', sans-serif ;
}
.text{
	width:345px;

}
.image{
	vertical-align:top;
	margin-right:40px;
}
.title{
	margin-bottom:10px;
	}
.box-wraper{
	margin-top:35px;
}
.logo{
	width:100px;
	margin-left:30px;
	margin-right:50px;
	vertical-align:middle;

}
.d-block{
	display:inline-block;
}
.navigation-a{
	margin-right:30px;
	
}
.navigation-a{
	text-decoration:none;
}
span{
	color:red;
}
.image{
	margin-top:80px;
}
.divider{
	height:23pt;
	width:2pt;
	background:blue;
}
.footer-div{
	margin-left:68pt;
	margin-top:70px;
}
.divider{
	margin:0 30pt;
}
h3{
	font-family: 'Roboto Slab', sans-serif;
}
